In [1]:
import pandas as pd
import numpy as np

In [2]:
lig = pd.read_csv("tcl.csv",delimiter=";")

In [3]:
lig.head(3)

,year,team,played,won,drawn,lost,goals_for,goals_against,goal_difference,points
0,1959,Fenerbahce,16,13,2,1,33,8,25,28
1,1960,Besiktas,38,29,7,2,68,15,53,65
2,1961,Fenerbahce,38,26,9,3,81,29,52,61

In [5]:
lig.columns=["yil","takim","oyun","galibiyet","beraberlik","maglubiyet","atilan_gol","yenilen_gol","averaj","puan"]

In [6]:
lig.head(3)

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan
0,1959,Fenerbahce,16,13,2,1,33,8,25,28
1,1960,Besiktas,38,29,7,2,68,15,53,65
2,1961,Fenerbahce,38,26,9,3,81,29,52,61

In [7]:
lig.tail(3)

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan
57,2016,Besiktas,34,25,4,5,75,35,40,79
58,2017,Besiktas,34,23,8,3,73,30,43,77
59,2018,Galatasaray,34,24,3,7,75,33,42,75

In [8]:
lig["puan_duzeltilmis"]=(lig["galibiyet"]*3)+(lig["beraberlik"]*1)

In [10]:
lig.head(5)

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzeltilmis
0,1959,Fenerbahce,16,13,2,1,33,8,25,28,41
1,1960,Besiktas,38,29,7,2,68,15,53,65,94
2,1961,Fenerbahce,38,26,9,3,81,29,52,61,87
3,1962,Galatasaray,38,23,11,4,52,18,34,57,80
4,1963,Galatasaray,22,14,7,1,54,14,40,35,49

In [12]:
lig[lig["puan"]==lig["puan_duzeltilmis"]]

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzeltilmis
29,1988,Galatasaray,38,27,9,2,86,35,51,90,90
30,1989,Fenerbahce,36,29,6,1,103,27,76,93,93
31,1990,Besiktas,34,23,6,5,77,20,57,75,75
32,1991,Besiktas,30,20,9,1,63,24,39,69,69
33,1992,Besiktas,30,23,7,0,58,20,38,76,76
34,1993,Galatasaray,30,20,6,4,74,21,53,66,66
35,1994,Galatasaray,30,22,4,4,67,28,39,70,70
36,1995,Besiktas,34,24,7,3,80,26,54,79,79
37,1996,Fenerbahce,34,26,6,2,68,19,49,84,84
38,1997,Galatasaray,34,25,7,2,90,30,60,82,82
39,1998,Galatasaray,34,23,6,5,86,43,43,75,75
40,1999,Galatasaray,34,23,9,2,85,30,55,78,78
41,2000,Galatasaray,34,24,7,3,77,23,54,79,79
42,2001,Fenerbahce,34,24,4,6,82,39,43,76,76
43,2002,Galatasaray,34,24,6,4,75,31,44,78,78
44,2003,Besiktas,34,26,7,1,63,21,42,85,85
45,2004,Fenerbahce,34,23,7,4,82,41,41,76,76
46,2005,Fenerbahce,34,26,2,6,77,24,53,80,80
47,2006,Galatasaray,34,26,5,3,82,34,48,83,83
48,2007,Fenerbahce,34,20,10,4,65,31,34,70,70
49,2008,Galatasaray,34,24,7,3,64,23,41,79,79
50,2009,Besiktas,34,21,8,5,60,30,30,71,71
51,2010,Bursaspor,34,23,6,5,65,26,39,75,75
52,2011,Fenerbahce,34,26,4,4,84,34,50,82,82
53,2012,Galatasaray,34,23,8,3,69,24,45,77,77
54,2013,Galatasaray,34,21,8,5,66,35,31,71,71
55,2014,Fenerbahce,34,23,5,6,74,33,41,74,74
56,2015,Galatasaray,34,24,5,5,60,35,25,77,77
57,2016,Besiktas,34,25,4,5,75,35,40,79,79
58,2017,Besiktas,34,23,8,3,73,30,43,77,77
59,2018,Galatasaray,34,24,3,7,75,33,42,75,75

In [13]:
lig[lig["puan"]==lig["puan_duzeltilmis"]].iloc[[0]]

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzeltilmis
29,1988,Galatasaray,38,27,9,2,86,35,51,90,90

In [19]:
sampiyon=pd.DataFrame(lig["takim"].value_counts())

In [ ]:
sampiyon

In [24]:
sampiyon.to_excel("sampiyom.xlsx") #excel cıktı

In [25]:
#kaç farklı takım sampiyon olmus 
len(lig["takim"].unique())

5

In [ ]:
lig.head(3)

In [ ]:
lig.groupby(by=["takim","yil"]).sum()

In [38]:
lig.head(3)

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzeltilmis
0,1959,Fenerbahce,16,13,2,1,33,8,25,28,41
1,1960,Besiktas,38,29,7,2,68,15,53,65,94
2,1961,Fenerbahce,38,26,9,3,81,29,52,61,87

In [39]:
#en yükek düzeltilmiş puanla sampiyon olan takim

maxpuan = lig["puan_duzeltilmis"].max()
lig[lig["puan_duzeltilmis"]==maxpuan]

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzeltilmis
1,1960,Besiktas,38,29,7,2,68,15,53,65,94

In [40]:
#en düsük puanla sampiyon olan takim
minpuan = lig["puan_duzeltilmis"].min()
lig[lig["puan_duzeltilmis"]==minpuan]

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzeltilmis
0,1959,Fenerbahce,16,13,2,1,33,8,25,28,41

In [41]:
#En yukaek puan ortalaması ile sampiyon olan takim 
lig["ort_puan"]=lig["puan_duzeltilmis"]/lig["oyun"]
maxortpuan=lig["ort_puan"].max()
lig[lig["ort_puan"]==maxortpuan]

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzeltilmis,ort_puan
30,1989,Fenerbahce,36,29,6,1,103,27,76,93,93,2.583333

In [42]:
#En az puan ortalaması ile sampiyon olan takım 

minortpuan=lig["ort_puan"].min()
lig[lig["ort_puan"]==minortpuan]

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzeltilmis,ort_puan
21,1980,Trabzonspor,30,12,15,3,25,11,14,39,51,1.7

In [44]:
#sampiyon olan takımların mac bası ortalama gol sayıları
lig["ort_gol"]=lig["atilan_gol"]/lig["oyun"]

In [45]:
lig.head(3)

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzeltilmis,ort_puan,ort_gol
0,1959,Fenerbahce,16,13,2,1,33,8,25,28,41,2.562500,2.062500
1,1960,Besiktas,38,29,7,2,68,15,53,65,94,2.473684,1.789474
2,1961,Fenerbahce,38,26,9,3,81,29,52,61,87,2.289474,2.131579

In [46]:
#superlig tarihinin şampiyonlaırnın mac basına ort puanları

lig["ort_puan"].mean()

2.187392790781916

In [47]:
lig["ort_gol"].mean()

1.868372612867582